.header {
  display: grid;
  grid-template-columns: 175px 250px 1fr max-content;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  /* border-bottom: 1px solid #eee; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: larger;
  font-weight: 600;
}

.logo .spacial {
  color: #73d13d;
  font-weight: 700;
}

.location {
  cursor: pointer;
}

.location .deliveryEta {
  font-weight: 800;
}

.actions {
  display: flex;
  justify-content: end;
}
